apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-api
  namespace: hr-app
  labels:
    app: backend-api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend-api
  template:
    metadata:
      labels:
        app: backend-api
    spec:
      automountServiceAccountToken: false
      containers:
      - name: backend-api
        image: hracrregistry.azurecr.io/backend-api:v1
        imagePullPolicy: Always
        ports:
        - containerPort: 8000
        env:
        - name: MONGODB_URL
          valueFrom:
            secretKeyRef:
              name: hr-secrets
              key: MONGODB_URL
        - name: JWT_SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: hr-secrets
              key: JWT_SECRET_KEY
        - name: DATABASE_NAME
          valueFrom:
            configMapKeyRef:
              name: hr-config
              key: DATABASE_NAME
        - name: JWT_ALGORITHM
          valueFrom:
            configMapKeyRef:
              name: hr-config
              key: JWT_ALGORITHM
        - name: JWT_ACCESS_TOKEN_EXPIRE_MINUTES
          valueFrom:
            configMapKeyRef:
              name: hr-config
              key: JWT_ACCESS_TOKEN_EXPIRE_MINUTES
        - name: CORS_ORIGINS
          valueFrom:
            configMapKeyRef:
              name: hr-config
              key: CORS_ORIGINS
        - name: AI_AGENT_URL
          valueFrom:
            configMapKeyRef:
              name: hr-config
              key: AI_AGENT_URL
        - name: AI_AGENT_TIMEOUT
          valueFrom:
            configMapKeyRef:
              name: hr-config
              key: AI_AGENT_TIMEOUT
        - name: AI_AGENT_ENABLED
          valueFrom:
            configMapKeyRef:
              name: hr-config
              key: AI_AGENT_ENABLED
        - name: ENVIRONMENT
          valueFrom:
            configMapKeyRef:
              name: hr-config
              key: ENVIRONMENT
        resources:
          requests:
            memory: "256Mi"
            cpu: "200m"
            ephemeral-storage: "128Mi"
          limits:
            memory: "512Mi"
            cpu: "500m"
            ephemeral-storage: "256Mi"
        livenessProbe:
          httpGet:
            path: /health
            port: 8000
          initialDelaySeconds: 30
          periodSeconds: 30
          timeoutSeconds: 10
        readinessProbe:
          httpGet:
            path: /health
            port: 8000
          initialDelaySeconds: 15
          periodSeconds: 10
          timeoutSeconds: 5
---
apiVersion: v1
kind: Service
metadata:
  name: backend-api-service
  namespace: hr-app
spec:
  selector:
    app: backend-api
  ports:
    - protocol: TCP
      port: 8000
      targetPort: 8000
